body {
  background-image: url(background.png);
  background-size: 100%;
}

p {
  background-color: transparent;
  color: black;
  font-weight: bold;
  font-size: 150%;
  font-family: Arial;
}

.name {
  color: hotpink;
}

a {
  background-color: transparent;
  color: darkblue;
  font-weight: bold;
  font-size: 200%;
  font-family: Arial;
}

a:hover {
  color: hotpink;
}
